@model LearnerProject.Models.Entities.Teacher
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Öğretmen Ekleme Sayfası</h3>
<br />

<form method="post">

    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", @placeholder = "Ad soyad giriniz." })
    <br />
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Kullanıcı adı giriniz." })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Şifre giriniz" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>


</form>
